*{
  font-family: Arial, Helvetica, sans-serif;
}

body{
  padding: 5rem;
  background-color:whitesmoke
}

input{
  width: 100%;
  font-size: 1rem;
  padding: 0.5rem;
  /* border-radius: 1rem; */
}

h1{
  font-size: 3rem;
  color: darkblue;
}

.card{
  align-content: center;
  border: 3px solid grey;
  border-radius: 6px;
  margin-bottom: 10px;
  margin-right: 10px;
  overflow: hidden;
}

.card p {
  padding: 5px;
  text-align: center;
  text-overflow: clip;
  width: 150px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  text-transform: capitalize;
}

.card img{
  align-content: center;
  margin: 5px;
  max-height: 170px;
}

.card-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}